div#todo-list > p, p.completed {
    background: red;
    color: white;  
    padding: .3em;
    border-radius: .3em; 
    display: inline-block;
    margin: .2em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

p.completed {
    background: green !important;
    color: gold !important;
    text-decoration: line-through;
}

input, label {
    display: block;
}

header {
    margin-left: 0.5em; 
}

div#create-item {
    float:left; 
    margin-right: 65em;
    margin-left :0.5em; 
}